.popup__description {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  width: 358px;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
  padding: 0 0 5px 0;
  margin-top: 36px;
}

@media screen and (max-width: 1279px) {
  .popup__description {
    width: 238px;
  }
}

@media  screen and (max-width: 1023px) {
  .popup__description {
    width: 238px;
  }
}

